* {

    margin: 0;
    padding: 0;

}

body {
    background-color: #F5F5F5;
}

nav {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 97vw;
    height: 75px;
    justify-content: space-around;
    align-items: center;
}

menu {
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: space-around;

}

menu>h1>img {
    padding-top: 5px;
    height: 40px;
}

#buscador {
    margin-left: 10px;
    height: 30px;
    width: 30vw;
    border-radius: 40px;
    border: none;
    background-color: #F5F5F5;
    padding-left: 5px;
    text-align: justify;


}

#login {
    width: 15vw;
    height: 35px;
    background-color: white;
    border: 0.5px solid blue;
    color: rgb(60, 137, 252);
    cursor: pointer;
}

#login:hover {
    background-color: rgba(138, 166, 243, 0.459);

}

header {
    display: flex;
    width: 97.5vw;
    height: 40vh;
    background-image: url(imagens/banner-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    align-items: center;


}

header>div {
    margin: 30px 60px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

header h2 {
    margin-bottom: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 2.8em;
    color: white;

}

header>div>p {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: white;
}

header>div>button {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: #2A7AE4;
    color: rgb(255, 254, 254);
    border: none;
    cursor: pointer;
}

header>div>button:hover {
    background-color: #5a89c7;
}

section#lista {
    display: flex;
    flex-direction: column;
    width: 97vw;
    background-color: #F5F5F5;
}

#lista div {

    display: flex;
    width: 97vw;
    justify-content: center;

}

#lista div img {
    width: 95vw;
}

#baseline {
    width: 97vw;
    display: flex;
    background-color: #EAF2FD;
    height: 300px;
    margin-right: 30px;
    align-items: center;
    justify-content: space-around;
}
#logo{
    display: flex;
}
#baseline>#logo >img {
    display: flex;
    width: 15vw;
    
    
}
footer{
    height: 20px;
    text-align: center;
    
}
footer a {
    text-decoration: none;
    color: #2A7AE4;
}